#blog_index_container{
    padding: 10% 0%;
    border-bottom: 1px solid #8B8A8A;
}

#post_entry{
    padding-top: 10%;
}

#image_post_entry{
    padding-left: 5%;
}

#image_post_entry img{
    width: 50%;
}

#content_blog_index{
    padding-right: 5%;
}

#content_blog_index_no_image{
    padding: 0% 5%;
}

#header_index_blog{
    background-color: #FFE97D;
}

.button_show{
    color: #FFE97D;
}

.button_show:hover{
    color: #FFB74D;
}
