.button_pushUp {
    margin-top: -30px;
}

.map_pushDown {
    margin-top: 70px;
}

.inputColor{
    background-color: #FFE97D;
    border-color: transparent;
    border-radius: 5px;
}

#contactForm{
    width: 450px;
    right: 30%;
}


.window_block{
    background-color: #FFE97D;
    border-radius: 8px;
    position: relative;
    margin-top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;

}

ul{
    margin: 10px;
    margin-top: 10px;
    margin-right: 20px;
}
p{
    font-size: 16px;
}

#map{
    margin-top: 30px;
    border-radius: 8px;
    margin-left: -10;
    background-color: #FFE97D;
}