.text_container{
    position: absolute;
    width: 709px;
    height: 476px;
    background-color: #4F9A94;
    box-shadow: 50px 50px #80CBC4;
}
.text_container h1{
    background-color: #FFE97D;
    position: relative;
    top: 15%;
    width: 550px;
}