#social_networks_buttons a{
    margin: 0px 10px;
    font-size: 150%;
}

#blog_home_container{
    width: 90%;
}

#home_left_central_container{
    width: 60%;
}

#home_right_central_container{
    width: 40%;
}

.left-container-card{
    margin: 15px 35px;
    width: 90%;
}

#home_calendar_container{
    width: 100%;
}

#collaborators_container{
    width: 100%;
}

#logo_1{
    height: 100%;
    width: 10%;
}
#logo_2{
    height: 100%;
    width: 10%;
}
#logo_3{
    height: 100%;
    width: 10%;
}
#logo_4{
    height: 100%;
    width: 10%;
}
#logo_5{
    height: 100%;
    width: 15%;
}
#logo_6{
    width: 10%;
}
#logo_7{
    height: 100%;
    width: 10%;
}
#logo_8{
    height: 100%;
    width: 15%;
}

.slider-button{
    float: right;
    border-radius: 50%;
}